{{ define "subject" }}
Welcome, {{ sendGridParam "user_name"}}!
{{ end }}

{{ define "email" }}
<!DOCTYPE html>
<html lang="en">
<body style="margin: auto;background-color: #f1f1f1;
    width: 450px;">
{{ template "header" }}
<main style="margin: auto;background-color: white;">
    <h3 style="text-align: center">Happy to see you here, {{ sendGridParam "user_name"}}! Thanks for visiting {{ sendGridParam "site_name"}}</h3>
    {{ template "image" args "url" "http://assets.stickpng.com/thumbs/58aff1e7829958a978a4a6ce.png" "alt" "Welcome" "width" "450" "height" "350" }}
</main>
{{ template "footer" }}
</body>
</html>
{{ end }}
