{{ define "footer" }}
{{ sendGridParam "#each item" }}
<li>Item: {{ sendGridParam "this.id" }} {{ sendGridParam "this.name" }}</li>
{{ sendGridParam "#each this.sub_item" }}
<li>Item:{{ sendGridParam "this.name" }}</li>
{{ sendGridParam "/each"}}
{{ sendGridParam "/each"}}
<table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="margin: auto; "
       width="100%">
    <tbody>
    <tr>
        <td style="background: #fafafa; padding: 10px" valign="middle">
            <table>
                <tbody>
                <tr>
                    <td style="padding-top: 20px;" valign="top" width="33.333%">
                        <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                            <tbody>
                            <tr>
                                <td style="text-align: left; padding-right: 10px;">
                                    <h3 style="color: #000;
    font-size: 20px;">About</h3>
                                    <p>Footer component</p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                    <td style="padding-top: 20px;" valign="top" width="33.333%">
                    </td>
                    <td style="padding-top: 20px;" valign="top" width="33.333%">
                        <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                            <tbody>
                            <tr>
                                <td style="text-align: left; padding-left: 10px;">
                                    <h3 style="color: #000;
    font-size: 20px;">Useful Links</h3>
                                    {{ template "links" }}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
{{ end }}